.courseTechnology {
  margin-bottom: 80px;
  @media screen and (min-width: 768px) {
    margin-bottom: 210px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 215px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 299px;
  }
}
