.program {
  position: relative;

  margin-bottom: 80px;
  @media screen and (min-width: 768px) {
    margin-bottom: 104px;
  }
  @media screen and (min-width: 1368px) {
    margin-bottom: 110px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 156px;
  }
}

.circle {
  position: absolute;
  top: 0;
  right: -300px;
  width: 573px;
  height: 573px;
  flex-shrink: 0;

  border-radius: 324px;
  background-color: rgb(213, 59, 46);
  filter: blur(292px);
}

//   @media screen and (min-width: 768px) {
//   }
//   @media screen and (min-width: 1368px) {
//   }
//   @media screen and (min-width: 1920px) {
//   }
