@import "node_modules/modern-normalize/modern-normalize.css";

img {
  display: block;
  width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: "Manrope-Bold";
  src: url("../../public/fonts/Manrope-Bold.woff2");
}

body {
  font-family: "Manrope";
  font-weight: 800;
  background-image: url("/images/main_bg.jpg");
}
