.course_slider_wrapper .course_slider {
  overflow: visible;
}

.cource_item {
  width: 100%;
  max-width: 256px;
  height: 362px;
  padding: 18px 16px;
  background-image: url("/images/courses/courses-item-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 1920px) {
    max-width: 376px;
    height: 528px;
  }
}

.course_item_thumb {
  position: relative;
  background: linear-gradient(
    237deg,
    rgba(0, 0, 0, 0.7) 17.93%,
    rgba(0, 0, 0, 0) 69.61%
  );
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 12px;
  @media screen and (min-width: 1920px) {
    margin-bottom: 26px;
  }
}

.cource_duration_training {
  position: absolute;
  top: 13.5px;
  right: 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;

  border-radius: 24px;
  background-color: #fff;

  color: #100e0e;

  @media screen and (min-width: 1920px) {
    font-size: 18px;
    padding: 12px 18px;
  }
}

.cource_item_title {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1368px) {
  }
  @media screen and (min-width: 1920px) {
    font-size: 24px;
  }
}

.item_prof_block {
  margin-bottom: 10px;
}
.item_prof_title {
  text-transform: uppercase;
}

.item_prof_title,
.item_skill_title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 6px;

  @media screen and (min-width: 1920px) {
    font-size: 20px;
    margin-bottom: 8px;
  }
}

.item_prof_description,
.cource_item_stack {
  color: #8a8b8a;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  @media screen and (min-width: 1920px) {
    font-size: 16px;
  }
}
.cource_item_stack {
  width: 100%;
  max-width: 178px;
  @media screen and (min-width: 1920px) {
    max-width: 233px;
  }
}
