.footer {
  padding-top: 52px;
  padding-bottom: 32px;

  background-color: black;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
  @media screen and (min-width: 1368px) {
    align-items: start;
  }
}

.socialWrapper {
  margin: 0 auto 48px;
  @media screen and (min-width: 375px) {
    margin: 0 0 48px 0;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    flex-direction: column;
    align-items: start;
  }
  @media screen and (min-width: 1368px) {
    margin-right: 46px;
  }
  @media screen and (min-width: 1920px) {
    margin-right: 88px;
  }
}

.logo {
  width: 100px;
  height: 45px;
  margin-right: auto;
  margin: 0 auto 10px;
  @media screen and (min-width: 375px) {
    margin: 0 auto 0 0;
  }
  @media screen and (min-width: 768px) {
    width: 118px;
    height: 53px;
    margin: 0 0 24px 0;
  }
  @media screen and (min-width: 1368px) {
    width: 82px;
    height: 36px;
    margin: 0 0 16px 0;
  }
  @media screen and (min-width: 1920px) {
    width: 104px;
    height: 47px;
  }
}

.socialList {
  display: flex;
  gap: 11px;
  @media screen and (min-width: 1920px) {
    gap: 16px;
  }
}

.socialIcon {
  width: 28px;
  height: 28px;
  @media screen and (min-width: 1368px) {
    width: 20px;
    height: 20px;
  }
  @media screen and (min-width: 1920px) {
    width: 24px;
    height: 24px;
  }
}

.buttons {
  margin-left: auto;
  display: flex;
  gap: 12px;
  @media screen and (max-width: 767px) {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
  @media screen and (min-width: 1368px) {
    order: 1;
    margin-left: 0;
  }
}
// FOOTER NAV
.footerNav {
  margin-bottom: 56px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 31px;
  row-gap: 60px;
  text-align: center;
  @media screen and (min-width: 375px) {
    justify-content: start;
    text-align: left;
  }
  @media screen and (min-width: 768px) {
    margin-top: 57px;
    gap: 96px;
  }
  @media screen and (min-width: 1368px) {
    margin: 0 53px 0 0;
    width: 530px;
    justify-content: space-between;
    gap: 0;
  }
  @media screen and (min-width: 1920px) {
    margin: 0 160px 0 0;
    width: 766px;
    justify-content: space-between;
    gap: 0;
  }
}

.footerNavItem {
  width: 160px;
  @media screen and (min-width: 768px) {
    width: auto;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #8a8b8a;
  font-weight: 400;
  line-height: 1.5;
  @media screen and (min-width: 768px) {
    gap: 17px;
  }
  @media screen and (min-width: 1368px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 18px;
  }
}

.messageIcon {
  width: 32px;
  height: 32px;
}
.hide {
  @media screen and (min-width: 768px) {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
.btn {
  margin-left: auto;
  border-radius: 16px;
  background: #d93d30;
  box-shadow: 0px 1px 2px 0px rgba(205, 72, 55, 0.29),
    0px 3px 3px 0px rgba(205, 72, 55, 0.26),
    0px 8px 5px 0px rgba(205, 72, 55, 0.15),
    0px 14px 5px 0px rgba(205, 72, 55, 0.04),
    0px 21px 6px 0px rgba(205, 72, 55, 0.01);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.btnCall {
  padding: 26px 8px;
  font-size: 14px;

  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    padding: 16px 0;
    width: 96px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    padding: 16px 0;
    width: 86px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 14px;
    width: 102px;
  }
}

.btnMessage {
  padding: 8px 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  font-size: 12px;
  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }
  @media screen and (min-width: 1368px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1920px) {
    width: 281px;
    font-size: 14px;
  }
}

.copy {
  color: rgba(61, 61, 61, 1);
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  order: 2;
  margin: 0 auto;
  @media screen and (min-width: 1368px) {
    margin: 128px auto 0;
  }
  @media screen and (min-width: 1920px) {
    margin: 167px auto 0;
  }
}
