.footerContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
  @media screen and (min-width: 1368px) {
    align-items: start;
  }
}

.footer {
  margin-top: 100px;
  padding-top: 52px;
  padding-bottom: 32px;

  background-color: black;
}

// FOOTER NAV
